{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5 gx-lg-5">
            <main class="col-lg-8 pb-5">
                <hgroup>
                    <h1 class="h4 lh-lg">{{ post.title }}</h1>
                    <p>
                        <a href="{% url 'home' %}{% querystring category=post.category_id %}"
                            class="text-decoration-none"
                        >
                            <span class="badge text-bg-secondary">
                                {{ post.category.name }}
                            </span>
                        </a>
                        <time>
                            <small class="text-muted">
                                {{ post.modified_at }} 更新
                            </small>
                        </time>
                        <a href="{% url 'home' %}{% querystring author=post.author.id %}"
                            class="text-decoration-none link-body-emphasis"
                        >
                            <span class="float-end fw-bold">
                                {{ post.author.name }}
                            </span>
                        </a>
                    </p>
                </hgroup>

                {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }}"
                        class="img-fluid mt-5"
                        alt="{{ post.title }}"
                    >
                {% endif %}

                <article class="mt-5">
                    {{ post.body|linebreaksbr }}
                </article>

                <section class="mt-5">
                    <h5>コメント</h5>
                    <div class="d-flex flex-column gap-2">
                        {% for comment in post.comment_set.all %}
                            {% include 'blog/comments/detail.html' %}
                        {% empty %}
                            <p>コメントはありません。</p>
                        {% endfor %}

                        {% include 'blog/comments/create.html' %}
                    </div>
                </section>
            </main>

            <aside class="col-lg-4 pb-5">
                <h5>{{ post.category.name }}の最近のお知らせ</h5>

                <div class="d-flex flex-column">
                    {% for post in recent_posts %}
                        <hr>
                        {% include 'blog/posts/card.html' %}
                    {% empty %}
                        <p>お知らせはありません</p>
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
