{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>かたちブログ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="min-vh-100 d-flex flex-column">
        {% include 'nav.html' %}

        {% block head %}
        {% endblock %}
        <div class="flex-grow-1 align-content-center">
            {% block content %}
            {% endblock content %}
        </div>

        {% include 'footer.html' %}
    </div>
    {% include 'flash.html' %}
</body>
</html>
