{% load static %}

<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'logo.png' %}"
                alt="大阪就労移行支援 未来のかたち｜プログラミング・IT特化"
                height="40"
            >
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ようこそ {{ user.name }} さん
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_admin %}
                                <li>
                                    {% url 'mylist' as mylist_url %}
                                    <a href="{{ mylist_url }}"
                                        class="dropdown-item{% if request.path == mylist_url %} active{% endif %}"
                                    >投稿記事一覧</a>
                                </li>
                                <li>
                                    {% url 'create' as create_url %}
                                    <a href="{{ create_url }}"
                                        class="dropdown-item{% if request.path == create_url %} active{% endif %}"
                                    >新規投稿</a>
                                </li>
                            {% endif %}
                            <li>
                                <form id="logout-form" method="POST" action="{% url 'customauth:logout' %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item">ログアウト</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        {% url 'customauth:register' as register_url %}
                        <a href="{{ register_url }}"
                            class="nav-link{% if request.path == register_url %} active{% endif %}"
                        >アカウント登録</a>
                    </li>
                    <li class="nav-item">
                        {% url 'customauth:login' as login_url %}
                        <a href="{{ login_url }}"
                            class="nav-link{% if request.path == login_url %} active{% endif %}"
                        >ログイン</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
