{% if page_obj.has_other_pages %}
    <nav aria-label="ページネーション">
        <div class="d-flex justify-content-center justify-content-md-between align-items-center">
            <p class="d-none d-md-block fs-6">
                <span class="fw-medium">{{ paginator.count }}</span>
                件中
                <span class="fw-medium">{{ page_obj.start_index }}</span>
                ～
                <span class="fw-medium">{{ page_obj.end_index }}</span>
                件を表示
            </p>

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" aria-label="前へ"
                            href="?page={{ page_obj.previous_page_number }}"
                        ><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page is "..." %}
                        <li class="page-item disabled">
                            <span aria-disabled="true">{{ page }}</span>
                        </li>
                    {% else %}
                        {% if page == page_obj.number %}
                            <li class="page-item active">
                                <span class="page-link" aria-current="page">{{ page }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" aria-label="ページ {{ page }}へ"
                                    href="?page={{ page }}"
                                >{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" aria-label="次へ"
                            href="?page={{ page_obj.next_page_number }}"
                        ><span aria-hidden="true">&raquo;</span></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}