{% if widget.is_initial %}
    <div class="d-flex align-items-center gap-2 mb-1">
        <small class="text-nowrap">({{ widget.initial_text }})</small>
        <a href="{{ widget.value.url }}">{{ widget.value }}</a>
        {% if not widget.required %}
            <label>
                <input
                    type="checkbox"
                    name="{{ widget.checkbox_name }}"
                    id="{{ widget.checkbox_id }}"
                    {% if widget.attrs.disabled %}
                        disabled
                    {% endif %}
                    {% if widget.attrs.checked %}
                        checked
                    {% endif %}
                >
                {{ widget.clear_checkbox_label }}
            </label>
        {% endif %}
    </div>
{% endif %}
<div class="d-flex align-items-center gap-2">
    {% if widget.is_initial %}
        <small class="text-nowrap">({{ widget.input_text }})</small>
    {% endif %}
    <input
        type="{{ widget.type }}"
        name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}
    >
</div>
