<article class="card" hx-target="this" hx-swap="outerHTML">
    <div class="card-body">
        <small class="d-flex justify-content-between">
            <span class="fw-bold">{{ comment.author.name }}</span>
            <time class="text-xs opacity-50">{{ comment.modified_at }}</time>
        </small>
        <p class="card-text mt-2">
            {{ comment.body|linebreaksbr }}
        </p>
        {% if user.id is comment.author_id %}
            <div class="d-flex justify-content-end gap-1">
                <button
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                    hx-get="{% url 'comment-update' comment.id %}"
                >編集</button>
                <form method="POST" action="{% url 'comment-delete' comment.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger btn-sm"
                            onclick="return confirm('本当に削除しますか？')"
                    >削除</button>
                </form>
            </div>
        {% endif %}
    </div>
</article>